body {
    font-family: Futura, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 11pt;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    /* comment */
}

.tasks {
    z-index: 1;
}

.header {
    position: sticky;
    background-color: #65C18C;
    flex-direction: column;
    z-index: 2;
}

/*.header {*/
/*    position: sticky;*/
/*    background-color: #65C18C;*/
/*}*/

/*.headerText {*/
/*    font-size: 8vw;*/
/*    margin: 2vw;*/
/*    color: white;*/
/*}*/