.footer {
    position: sticky;
    bottom: 0;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #65C18C;
    z-index: 101;
}

.addTaskSection {
    display: flex;
    justify-content: center;
}

input.addTask {
    font-family: Futura, sans-serif;
    width: 70%;
    border-width: 0px;
    border-radius: 20px 20px 20px 20px;
    border-color: #C1F4C5;
    padding: 5px;
}

button.addTaskButton {
    font-family: Futura, sans-serif;
    background-color: #C1F4C5;
    border-width: 0px;
    border-radius: 20px 20px 20px 20px;
    border-color: #C1F4C5;
    width: 20%;
    padding: 5px;
}

.priorityIcon {
    height: 50px;
    margin: 0.5vw;
}

.priorityDropdown img {
    height: 20px;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.priorityDropdown {
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: white;
    min-width: 50px;
    right: 50px; /* This param isn't changing anything, need to fix */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.selectedPriority {
    background-color: #e8e8e8;
}

.priorityDropdown img:hover {background-color: #f1f1f1}