.listItem {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vh;
    margin: 0.5vh 0vw;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    word-wrap: anywhere;
    /*align-self: center;*/
}

.listItem.shared {
    /*background-color: #d7cdc1;*/
}

.listItem > * {
    margin: 0vh 1vw;
}

.checkbox {
    transform: translateY(25%);
    vertical-align: middle;
}

.nonCheckmarkFlex {
    display: flex;
    flex-direction: column;
    flex-grow: 10;
}

.taskHeaderFlex {
    display: flex;
    flex-direction: row;
}

.taskHeaderFlex > * {
    margin: 0vh 1vw;
}

.task.editing {
    font-family: Futura, sans-serif;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: black;
    font-size: 11pt;
    flex-grow: 10;
    outline:none
}

.task {
    flex-grow: 10;
}

#completedTask{
    text-decoration: line-through;
    opacity: 1;
    color: dimgray;
}

.editIcon {
    width: 20px;
    height: 20px;
}

.deleteIcon {
    width: 20px;
    height: 20px;
}

.priorityIcon {
    width: 20px;
    height: 20px;
    margin: 0 1vw;
    self-align: center;
}

.shareIcon {
    height: 20px;
}

.minimizeIcon {
    /*height: 20px;*/
    width: 20px;
    height: 10px;
    vertical-align: bottom;
    /*align-self: center;*/
}

.subtaskListFlex {
    display: flex;
    flex-direction: column;
}

input.addSubtask {
    font-family: Futura, sans-serif;
    width: 70%;
    border-width: 0px;
    border-color: #C1F4C5;
    padding: 5px;
    flex-grow: 10;
    text-decoration: none;
}

.addSubtaskSelection {
    display: flex;
    flex-direction: row;
    column-gap: 0.2vw;
    padding: .5vh;
    margin: 0.75vh 0vw;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-width: 1px;
    word-wrap: anywhere;
    vertical-align: middle;
    justify-content: space-between;
}

.addSubtaskIcon {
    width: 20px;
    height: 20px;
    align-self: center;
    margin: 0 1vw;
}

