.listItem {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0.2vw;
    padding: 1vh;
    margin: 0.5vh 0vw;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    word-wrap: anywhere;
}

.listItem > * {
    margin: 0vh 1vw;
}

.task {
    font-family: Futura, sans-serif;
    padding: 0px;
    margin: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    /*border-style: solid;*/
    /*border-color: black;*/
    font-size: 12pt;
    /*border-bottom: #65C18C;*/
    flex-grow: 10;
}

.task.editing {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: black;
    font-size: 12pt;
    flex-grow: 10;
}

#completedTask{
    text-decoration: line-through;
    opacity: 1;
    color: dimgray;
}

.editIcon {
    height: 20px;
}

.deleteIcon {
    height: 20px;
}

.priorityIcon {
    height: 20px;
}

.priorityDropdown img {
    height: 20px;
    padding: 6px 8px;
    display: block;
}

.priorityDropdown {
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: white;
    min-width: 50px;
    right: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*.introMessage {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

.helpIcon {
    margin-top: 25px;
    height: 20px;
}

.selectedPriority {
    background-color: #e8e8e8;
}

.priorityDropdown img:hover {background-color: #f1f1f1}

